html, body{
	background-color: #1f202b;
	color:white;
	font-family:'Indie Flower', sans serif;
	margin: 0 auto;
	
}
a{
	color:white;
	text-decoration: none;
}
/*GRID*/
.full-width, .half-width, .third-width{
margin: 0 auto;
float:left;
}

.half-width, .third-width{
	float:left;
}

.full-width{
	width:100%;
	padding: 0 25px 60px 25px;
}

.half-width{
	width:50%;
	
}

.third-width{
	width:33%;
}

/*HEADER*/

header{
	height: 800px;
	padding-bottom: 80px;
	background-image: url(../img/hero-background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

header .half-width{
	padding-bottom: 100px;
}

li{
	list-style: none;
}

nav ul li{
	float: left;
	font-size: 30px;
	line-height: 10px;
	padding: 0 80px 0 80px;
	text-align: center;
}
h2{
	margin: 0 auto;
	font-size: 30px;
	padding-left: 25px;
}
h1{
	margin: 10px 10px 10px 10px;
	padding: 100px 0;
	font-size: 72px;
	line-height: 100px;
}



/*rainbow*/
.rainbow {
  
   /* Font options */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;
  
  /* Standar Syntax */
  animation: rainbow 3s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: orange;}
}





/*MAIN*/
img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;  
    }

    img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }

h3{
	font-size: 36px;
	text-align:center;
	color:#ed1775;
}
h4{
	font-size: 24px;
	margin: 0 auto;
}

p{
	font-size: 24px;
	margin:0 auto;
}
#portfolio h4{
	font-size: 24px;
	text-align:center;
}

#rogue-text, #holstee-text{
	text-align: left;
}

#jubilee-text{
	text-align: right;
	padding-right: 50px;
	width: 45%;
}

/*rainbow border*/
/*
.gradient-border {
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}*/





/*ABOUT*/

#about{
	background-image: url(../img/about-me.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 550px;
	color:#000000;
}
#skills{
	padding-top: 40px;
}

/*FOOTER*/
#follow li{
	float:left;
	display: inline;

}

#follow{
	text-align: center;
}

