body{
	background-color: #1f202b;
	color:white;
	font-family:'Indie Flower', sans serif;
	margin: 0, auto;
}
/*GRID*/
.half-width, .third-width{
	float:left;
}

.half-width{
	width:50%;
}

.third-width{
	width:33%;
}